#header{
  position: absolute;
  top: 120px;
  width: 100%;
  height: 600px;
  background-color: red;
  display: flex;
}
#header #title-container{
  flex: 3;
  /* trzeba dodać min width, inaczej podczas resize przeglądarki #earth-container zajmuje całe 100% miejsca */
  min-width: 100px; 
}
#header #earth-container{
  flex: 2;
  background-color: aquamarine;
}
canvas{
  width: 100%;
  height: 100%;
  background-color: beige;
  z-index: 200;
}

/*
  polecam zamiast flexbox zrobić tak:

  #header {
    width: 100vw;
  }

  #header #title-container {
    width: 60vw;
  }

  #header #earth-container {
    width: 40vw;
    background-color: aquamarine;
  }

  (vw to jest viewport width - czyli np. 60vw to jest 60% szerokości przeglądarki
*/