
#navbar{
  position:fixed;
  height: 100px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px #efefef4d,
  inset 0px -10px 10px -5px  #efefef4d;
  border-bottom: 2px solid #efefefaa;
  z-index: 100;
}
#menu-input{
  display: none;
}

nav div img{
  width: 50px;
  margin-right: 10px;
}
nav div{
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
#navbar-menu li a{
  text-shadow: 0 0 10px #efefef;
  transition: .4s;
}
#navbar-menu li a:hover{
  text-shadow: 0 0 10px #efefef, 0 0 20px #efefef;
}
nav #toggle-portrait-menu{
  margin-right: 15px;
}
#navbar-menu{
  margin-right: 25px;
  display: flex;
  width: 40vw;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}
#toggle-portrait-menu i{
  text-shadow: 0 0 10px #efefef;
  transition: .4s;
  cursor: pointer
}
#toggle-portrait-menu i:hover{
  text-shadow: 0 0 10px #efefef, 0 0 20px #efefef;
}
#toggle-portrait-menu #portrait-menu-content{
  box-shadow: 0px 5px 10px #efefef4d,
  inset 0px 10px 10px -5px  #efefef4d;
  border-top: 2px solid #efefefaa;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.4s;
  background-color: var(--background);
  z-index: 100;
  padding-top: 20px;
}
#portrait-menu-content li{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75px;
  font-size: 18px;
  font-weight: 500;
}
#portrait-menu-content li a{
  width: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px #efefef;
  transition: .4s;
}
#portrait-menu-content li a:hover{
  text-shadow: 0 0 10px #efefef, 0 0 20px #efefef;

}
#menu-input:checked + #toggle-portrait-menu #portrait-menu-content {
  visibility: visible;
  opacity: 1;
}

@media (orientation:landscape){
  #portrait-menu{
    display: none;
  }
}

@media (orientation:portrait){
  #navbar-menu{
    display: none;
  }
  #toggle-portrait-menu{
    display: flex;
  }
}